<h1 class="row animated fadeIn">{{heroe.nombre | uppercase}}<span>({{heroe.aparicion | date:'y'}})</span></h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img src="{{heroe.img}}" class="img-fluid">
        <br><br>
        <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar a Héroes</a>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>{{heroe.bio}}</p>
        <div>
            <img *ngIf="heroe.casa=='DC'" src="assets/img/dc.jpg" class="img-logo" alt="dc">
            <img *ngIf="heroe.casa=='Marvel'" src="assets/img/marvel.jpg" class="img-logo" alt="marvel">
        </div>
    </div>


</div>